/* Style sheet for index.html */

body {
    background-color: beige;
    margin-top: 1cm;
    margin-bottom: 15mm;
    margin-left: 0.5in;
    margin-right: 60Q;
}

header {
    background-color: rgb(128,255,128);
}

main {
    background-color: rgba(128,255,128, 0.25);
    padding: 10px 10px 10px 10px;
}

section {
    padding-top: 5vh;
    padding-bottom: 5vmin;
    padding-left: 5vw;
    padding-right: 5vw;
}

ol {
    background-color: #FFF;
}

ul {
    background-color: #FFFFFF;
}

footer {
    background-color: hsl(30, 100%, 50%);
}

form {
    background-color: hsla(90, 100%, 50%, 0.5);
}

input {
    margin: 10px 10px 10px 10px;
}

div {
    width: 400px;
    margin: auto;
}